.modalOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modalContent {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    position: relative;
  }
  
  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .modalImage {
    width: 98%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  .quantityBtn {
    background: #1a1a1a;
    color: white;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quantityBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .quantityDisplay {
    width: 40px;
    text-align: center;
  }

  .quantityControl {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .modalPrice {
    font-size: 1.5rem;
    color:black;

  }